@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;

}

:root {
    --a: 0;
}

body {
    background-color: black;
}

.logo img {
    filter: invert(1);
    height: 30px;
    width: 30px;
}

.search img {
    width: 50px;
    height: 40px;
    filter: invert(1);
}

.header {
    justify-content: space-between;
    margin: 10px;
}

.btns {
    gap: 8px;
    align-items: center;
}

.login {
    width: 100px;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 35px;
    cursor: pointer;
    height: 50px;
}

.login:hover {
    background-color: #c7c7c7;
    font-size: 16px;
}

.signup {
    background-color: black;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bolder;
    width: 70px;
    cursor: pointer;
}

.signup:hover {
    color: #c7c7c7;
    font-size: 18px;
}

.search {
    padding-left: 127px;
}

.search input {
    width: 465px;
    height: 51px;
    color: white;
    border: none;
    background-color: #1f1f1f;
    border-radius: 35px;
    padding-left: 10px;
}

.search input::placeholder {
    color: rgb(187, 185, 185);
}

.container {
    margin: 15px 10px;
    gap: 6px;
}

.left {
    width: 25%;
    padding: 0 10px;
    height: 87vh;
    position: relative;
}

.cross {
    position: absolute;
    right: 15px;

}

.cross img {
    display: none;
}

.right {
    width: 75%;
    color: white;
    height: 87vh;
    position: relative;
}

.left img {
    width: 20px;
    height: 20px;
    filter: invert(0.7);
}

.library p {
    color: rgb(189, 186, 186);
    font-weight: bold;
}

.library {
    gap: 12px;
    margin: 18px;
}

.footer {
    position: absolute;
    bottom: 0;
    gap: 8px;
    margin-bottom: 5px;
}

.footer a {
    color: white;
    font-size: 10px;
}

.right h2 {
    padding: 27px 35px;
}

.spotifyplaylist {
    padding: 0px 20px;
    flex-wrap: wrap;
    height: 58vh;
    overflow: auto;
}

.spotifyplaylist .card {
    width: 130px;
    height: 187px;
    padding: 15px;
    position: relative;
    margin-bottom: 5px;
}

.spotifyplaylist .card img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.card p {
    font-size: 14px;
    padding: 3px 0;
}

.card p:last-child {
    color: rgb(192, 184, 184);
}

.card:hover {
    background-color: rgba(78, 77, 77, 0.605);
    border-radius: 5px;
    --a: 1;
}

.card img:first-child {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 19px;
    bottom: 87px;
    opacity: var(--a);
    transition: all 0.3s ease-in-out;
}

.urplaylist {
    margin-top: 37px;
    height: 500px;
    overflow: auto;
}

.urplaylist ul {

    justify-content: space-around;
    padding: 8px;
    flex-direction: column;
}

.urplaylist ul li p:nth-child(2) {
    width: 183px;
    word-break: break-all;
}

.urplaylist ul li {
    list-style: none;
    border: 2px solid white;
    padding: 10px;
    margin: 8px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
}

.info {
    gap: 5px;
    font-size: 13px;
    align-items: center;
}

.playbar {
    width: 95%;
    background-color: rgba(123, 129, 123, 0.733);
    height: 70px;
    left: 27px;
    position: absolute;
    bottom: 5px;
    border-radius: 13px;
}

.seekbar {
    width: 98%;
    background-color: white;
    height: 3px;
    left: 10px;
    border-radius: 16px;
    position: absolute;
    bottom: 3px;
    cursor: pointer;
}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 60px;
    background-color: white;
    position: absolute;
    left: 0%;
    bottom: -3px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.songinfo {
    width: 150px;
    height: 30px;
    font-size: 11px;
    font-weight: 700;
}

.songtime {
    width: 100px;
}

.exleft {
    gap: 9px;
}

.hamburger img {
    display: none;
}

.timevol input {
    width: 100px;
}

.timevol {
    gap: 5px;
}

@media (max-width: 1250px) {
    .left {
        position: absolute;
        left: -100%;
        transition: all 0.2s ease-out;
        z-index: 2;
        width: 340px;
        border: 1px solid white;
        height: 92vh;
    }


    .right {
        width: 100vw;
        margin: 0px;
        padding: 14px;
        height: calc(88vh-5px);
        padding-bottom: 26px;
   
    }
    .spotifyplaylist .card{
        width: 124px;
    }

    .hamburger img {
        display: block;
    }

    .cross img {
        display: block;
        width: 18px;
        height: 18px;
    }

    .search {
        width: 100px;
        padding-left: 0;
    }

    .search input {
        width: 109px;
        height: 30px;
    }

    .search img {
        width: 20px;
        height: 20px;
    }

    .header {
        justify-content: space-between;
    }

    .signup {
        width: 50px;
        height: 10px;
        font-size: 10px;
    }

    .login {
        width: 47px;
        height: 28px;
        font-size: 10px;
    }

    .urplaylist {
        height: 62vh;
    }

}

@media (max-width:650px) {
   .playbar{
   height: 14vh;
   left: 12px;
   bottom: -14px;
   }

   .abovebar{
    display: flex;
        flex-direction: column;
        gap: 5px;
   }
   .seekbar{
    width: 95%;
   }
}
@media (max-width:400px){
    .right{
        height: 82vh;
    }
    .spotifyplaylist .card{
        width: 107px;
    }
    .left{
        height: 91vh;
    }
    .playbar{
        height: 18vh;
        left: 12px;
        
    }
}